Synapse/incrrementalloadingpipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"srinisynapse56789"},"srinisynapse56789-WorkspaceDefaultStorage":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/incrrementalloadingpipeline')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"watermarktable","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlPoolSource","queryTimeout":"02:00:00"},"dataset":{"referenceName":"SqlPoolTable1","type":"DatasetReference","parameters":{}}}},{"name":"orderslkp","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlPoolSource","sqlReaderQuery":"SELECT MAX(order_date) AS order_date FROM dbo.ordersdata_managed_INC","queryTimeout":"02:00:00"},"dataset":{"referenceName":"SqlPoolTable2","type":"DatasetReference","parameters":{}}}},{"name":"Copy data1","type":"Copy","dependsOn":[{"activity":"watermarktable","dependencyConditions":["Succeeded"]},{"activity":"orderslkp","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlPoolSource","sqlReaderQuery":{"value":"SELECT * FROM dbo.ordersdata_managed_INC WHERE order_date > '@{activity('watermarktable').output.firstRow.last_loaded_ts}' AND order_date <= '@{activity('orderslkp').output.firstRow.order_date}'","type":"Expression"},"queryTimeout":"02:00:00"},"sink":{"type":"SqlPoolSink","allowCopyCommand":true,"copyCommandSettings":{}},"enableStaging":true,"stagingSettings":{"linkedServiceName":{"referenceName":"[parameters('srinisynapse56789-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"path":"demo/Demo"}},"inputs":[{"referenceName":"SqlPoolTable2","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"SqlPoolTable3","type":"DatasetReference","parameters":{}}]},{"name":"SQL pool stored procedure1","type":"SqlPoolStoredProcedure","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"sqlPool":{"referenceName":"srinidedicatedsqlpool","type":"SqlPoolReference"},"typeProperties":{"storedProcedureName":"[[dbo].[sp_update_watermark]","storedProcedureParameters":{"NewTimestamp":{"value":{"value":"@{activity('orderslkp').output.firstRow.order_date}","type":"Expression"},"type":"Datetime"},"TableName":{"value":{"value":"@{activity('watermarktable').output.firstRow.table_name}","type":"Expression"},"type":"String"}}}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-04-18T14:28:08Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SqlPoolTable1')]","[concat(variables('workspaceId'), '/datasets/SqlPoolTable2')]","[concat(variables('workspaceId'), '/datasets/SqlPoolTable3')]","[concat(variables('workspaceId'), '/sqlPools/srinidedicatedsqlpool')]"]},{"name":"[concat(parameters('workspaceName'), '/SqlPoolTable1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"annotations":[],"type":"SqlPoolTable","schema":[{"name":"table_name","type":"varchar"},{"name":"last_loaded_ts","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dbo","table":"watermark"},"sqlPool":{"referenceName":"srinidedicatedsqlpool","type":"SqlPoolReference"}},"dependsOn":["[concat(variables('workspaceId'), '/sqlPools/srinidedicatedsqlpool')]"]},{"name":"[concat(parameters('workspaceName'), '/SqlPoolTable2')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"annotations":[],"type":"SqlPoolTable","schema":[{"name":"order_id","type":"varchar"},{"name":"customer_id","type":"varchar"},{"name":"product_id","type":"varchar"},{"name":"order_date","type":"datetime","precision":23,"scale":3},{"name":"quantity","type":"int","precision":10},{"name":"total_amount","type":"decimal","precision":10,"scale":2},{"name":"region","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"ordersdata_managed_INC"},"sqlPool":{"referenceName":"srinidedicatedsqlpool","type":"SqlPoolReference"}},"dependsOn":["[concat(variables('workspaceId'), '/sqlPools/srinidedicatedsqlpool')]"]},{"name":"[concat(parameters('workspaceName'), '/SqlPoolTable3')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"annotations":[],"type":"SqlPoolTable","schema":[{"name":"order_id","type":"varchar"},{"name":"customer_id","type":"varchar"},{"name":"product_id","type":"varchar"},{"name":"order_date","type":"datetime","precision":23,"scale":3},{"name":"quantity","type":"int","precision":10},{"name":"total_amount","type":"decimal","precision":10,"scale":2},{"name":"region","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"ordersdata_managed_INC_dest"},"sqlPool":{"referenceName":"srinidedicatedsqlpool","type":"SqlPoolReference"}},"dependsOn":["[concat(variables('workspaceId'), '/sqlPools/srinidedicatedsqlpool')]"]},{"name":"[concat(parameters('workspaceName'), '/srinidedicatedsqlpool')]","type":"Microsoft.Synapse/workspaces/sqlPools","apiVersion":"2019-06-01-preview","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":263882790666240,"annotations":[]},"dependsOn":[],"location":"centralus"}]}